.admin__header {
  width: 100%;
  padding: 20px 0;
  background: var(--primary-color);
}

.admin__nav {
  &-top {
    width: 100%;

    &-right {
      display: flex;
      align-items: center;
      column-gap: 2rem;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
      }

      span i {
        color: whitesmoke;
        cursor: pointer;
      }
    }
  }

  &-wrapper-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
  }
}

.admin__nav-top-right .search__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin__nav-wrapper-top .logo h2 {
  font-size: 1.2rem;
  color: whitesmoke;
}

.admin {
  &__menu {
    width: 100%;
    height: 70px;
    line-height: 80px;
    background: var(--card-bg-02);

    &-list {
      display: flex;
      align-items: center;
      column-gap: 2.7rem;
      justify-content: center;
    }

    &-item a {
      color: var(--primary-color);
      font-weight: 500;

      padding: 10px 10px;
      border-radius: 5px;
    }
  }

  &__navigation {
    text-align: center;
  }
}

.active__admin-menu {
  background: whitesmoke;
}
