.auth__form {
  background: var(--primary-color);
  padding: 40px;
  border-radius: 5px;

  p a {
    color: rgba(255, 255, 255, 0.891);
  }

  input[type="file"] {
    color: #fff;
    cursor: pointer;
  }
}
