.product {
  &__details {
    margin-top: 100px;
    h2 {
      font-size: 1.8rem;
      margin-bottom: 15px;
    }
  }

  &__rating {
    span i {
      color: rgba(255, 127, 80, 0.847);
    }

    p span {
      color: rgba(255, 127, 80, 0.847);
    }
  }

  &__price {
    font-size: 1.3rem;
    font-weight: 500;
  }
}

.tab {
  &__wrapper {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1rem;
    h6 {
      cursor: pointer;
    }
  }

  &__content {
    line-height: 30px;
  }
}

.review {
  &__wrapper ul li {
    span {
      color: coral;
      font-weight: 600;
    }

    p {
      margin-top: 10px;
    }
  }

  &__form {
    width: 70%;
    margin: auto;
    margin-top: 50px;

    h5 {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 30px;
    }
  }
}

.form__group {
  margin-bottom: 30px;

  input,
  textarea {
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 8px 20px;

    &:focus {
      outline: none;
    }
  }

  span {
    display: flex;
    align-items: center;
    column-gap: 5;
    color: coral;
    font-weight: 600;
    cursor: pointer;
  }
}

.related__title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 30px;
}

.active__tab {
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .product__details h2 {
    font-size: 1.3rem;
  }
  .rating__group {
    column-gap: 1rem !important;
  }
  .review__form {
    width: 95%;
  }
}
